{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Schedule View{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>&nbsp;</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    {% for shift in shifts %}
            <tr>
                <th>{{ shift['staff'] }}</th>
                <td>{{ shift['role'] }}</td>
            </tr>
    {% endfor %}
    </table>
{% endblock %}
