{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Schedule View{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <th>&nbsp;</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </thead>
    {% for staffData in data %}
        <tr>
            {% for value in staffData %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
            
    </table>
{% endblock %}
